<div class="container">
  <div class="row">
    <div class="col text-center my-auto" style="margin-left: 4.3%;">
      <p style="font-size: 60px; margin: auto;" class="chatcher">大人の時間を、<br></p>
      <p style="font-size: 60px; margin: auto;" class="chatcher">　もっと優雅に。</p>
    </div>
    <div class="col">
      <%= image_tag 'main_wine.png', class:"wine-background d-block mx-auto" %>
    </div>
  </div>
  <div class="row mx-sm-5 top-content">
    <div class="col border border-white text-center pb-sm-2">
      <p style="font-size: 29px;">Search for Wine</p>
      <p>お気に入りのワインを探す。</p>
    </div>
    <div class="col border border-white mx-sm-4 text-center">
      <p style="font-size: 29px;">Search from Winery</p>
      <p>ワイナリーから探す。</p>
    </div>
    <div class="col border border-white text-center">
      <p style="font-size: 29px;">Search from Genre</p>
      <p>種類から探す。</p>
    </div>
  </div>

  <div class="row text-center" style="font-size: large; margin: 30% 0; line-height: 2em;">
    <div class="col">
      <p>WineryProjectを見つけていただき、ありがとうございます。<br>
        ここは世界中のワインにアクセスできるサイトです。<br>
        貴方の夜のお供に相応しい、最高のワインが見つかりますように。</p>
    </div>
  </div>

  <h2 style="text-align:center;margin-bottom:50px;">貴方へのおすすめ</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @wines.each do |wine| %>
      <div class="col">
        <div class="card border-white bg-transparent">
          <%= image_tag wine.get_wine_image(50, 50) %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
