<div class="container">
  <div class="row">
    <div class="col text-center my-auto" style="margin-left: 4.3%;">
      <p style="font-size: 60px; margin: auto;" class="chatcher">大人の時間を、<br></p>
      <p style="font-size: 60px; margin: auto;" class="chatcher">　もっと優雅に。</p>
    </div>
    <div class="col">
      <%= image_tag 'main_wine.png', class:"wine-background d-block mx-auto" %>
    </div>
  </div>
  <div class="row mx-sm-5 top-content">
    <div class="col border border-white text-center pb-sm-2">
      <p style="font-size: 29px;">Search for Wine</p>
      <p>お気に入りのワインを探す。</p>
    </div>
    <div class="col border border-white mx-sm-4 text-center">
      <p style="font-size: 29px;">Search from Winery</p>
      <p>ワイナリーから探す。</p>
    </div>
    <div class="col border border-white text-center">
      <p style="font-size: 29px;">Search from Genre</p>
      <p>種類から探す。</p>
    </div>
  </div>
  <div class="row text-center" style="font-size: large; margin: 30% 0; line-height: 2em;">
    <div class="col">
      <p>WineryProjectを見つけていただき、ありがとうございます。<br>
        ここは世界中のワインにアクセスできるサイトです。<br>
        貴方の夜のお供に相応しい、最高のワインが見つかりますように。</p>
    </div>
  </div>
</div>

