<h1>ワイン一覧</h1>
<div class="container">
  <% @wines.each do |wine| %>
  <div class="row">
    <div class="col-sm-4"><li><%= wine.name %></li></div>
    <div class="col-sm-2"><%= link_to 'Show', wine_path(wine.id) %></div>
  </div>
  <% end %>
</div>

